<section class="delivery-location-wrapper">
  <!-- Delivery Location Bar (As seen in your screenshot above the icons) -->
  <div class="delivery-location-bar">
    <div class="location-content">
      <img src="/assets/images/arrows/location.svg" alt="location" class="location-img" />
      <span class="location-text">Add delivery location to check extra discount</span>
      <span class="arrow-icon">
        <img src="/assets/images/arrows/arrow-next.gif" alt="next-step" />
      </span>
    </div>
  </div>
</section>
